# Clover API Configuration
CLOVER_BASE_URL=https://sandbox.dev.clover.com
CLOVER_ECOMMERCE_URL=https://scl-sandbox.dev.clover.com
CLOVER_MERCHANT_ID=your_merchant_id
CLOVER_PRIVATE_API_TOKEN=your_private_token
CLOVER_PUBLIC_API_TOKEN=your_public_token

# Server
ACME_EMAIL=admin@lordsholtodouglas.local
DOMAIN=localhost
PORT=8080
