package partials

templ SectionTitle(title string) {
	<h1 class="font-serif text-4xl md:text-5xl font-bold tracking-wide uppercase text-center mb-10 border-b-2 border-foreground/10 pb-4">
		{ title }
	</h1>
}
